*{
    margin: 0;
}
/* Shared Styles */
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

    border: 0;
    border-radius: 8px;
    background: #E55473;

    padding: 20px 40px;
}

.section-container{
    padding: 50px 240px;
    background-color: #FFF;

}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0px;

}
/* Banner Section Styles */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #E554731A;
    background-position: cover;

    padding-top: 50px;
}

.banner-text-section{
    padding: 50px 120px;
}

.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;

    max-width: 500px;

}

.banner-description{
    color: gray;
    font-size: 18px;
    font-weight: 400;

    padding: 30px 0;
}

.banner-image{
    width: 500px;
    padding: 0px 90px;

}


/* Our Flower Section Styles */
.flower-container{
    margin: 20px 100px;
}

.flowers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    
}

.flower1{
    margin: 0px 25px;
    background-color: #A7216226;
    padding: 0px 20px;

}

.flower2{
    background-color: #0597A026;
    margin: 0px 25px;
    padding: 0px 20px;
}
.flower3{
    margin: 0px 25px;
    background-color: #477D1126;
    padding: 0px 20px;
}

 .flowers img{
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;    
}